<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJsonService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57797/JsonService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IJsonService" contract="WCFDemo.Services.IJsonService"
                name="BasicHttpBinding_IJsonService" />
        </client>
    </system.serviceModel>
</configuration>